<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

      <div class="accordion" id="accordion-{cObject.uid}">
        <f:for each="{terms}" as="term" iteration="i">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{i.cycle}">
              <button class="accordion-button text-body px-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{i.cycle}" aria-expanded="true" aria-controls="collapse-{i.cycle}">
                {term.name}
              </button>
            </h2>
            <div id="collapse-{i.cycle}" class="accordion-collapse collapse" aria-labelledby="heading-{i.cycle}" data-bs-parent="#accordion-{cObject.uid}">
              <div class="accordion-body">
                <f:for each="{term.descriptions}" as="description">
                  <header class="text-body">
                    <h3>{description.meaning}</h3>
                  </header>
                  <f:format.html>{description.text}</f:format.html>
                </f:for>
              </div>
            </div>
          </div>
        </f:for>
      </div>

</html>
